In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
# Data Loading
file_path = "2018.csv"
df_2018 = pd.read_csv(file_path, error_bad_lines=False)

C:\Users\nadaa\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df_2018.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,268.0,250.0,225.0,1605.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,...,99.0,83.0,65.0,414.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,...,134.0,126.0,106.0,846.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,...,190.0,182.0,157.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,...,112.0,106.0,83.0,723.0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7213446 entries, 0 to 7213445
Data columns (total 28 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_CARRIER           object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         int64
 6   DEP_TIME             float64
 7   DEP_DELAY            float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  WHEELS_ON            float64
 11  TAXI_IN              float64
 12  CRS_ARR_TIME         int64
 13  ARR_TIME             float64
 14  ARR_DELAY            float64
 15  CANCELLED            float64
 16  CANCELLATION_CODE    object
 17  DIVERTED             float64
 18  CRS_ELAPSED_TIME     float64
 19  ACTUAL_ELAPSED_TIME  float64
 20  AIR_TIME             float64
 21  DISTANCE             float64
 22  CARRIER_DELAY        float64
 23  WEATHER_DELAY        float64
 24  NAS_DELAY            float64
 25  SECURITY_DELAY       float64
 26  LATE_AIRCRAFT_DELAY  float64
 27  Unnamed: 27          float64
dtypes: float64(20), int64(3), object(5)
memory usage: 1.5+ GB

In [6]:
#df_2018_test = df_2018
#df_2018_test.dropna() 
#df_2018_test.isnull().count()

In [7]:
df_2018.shape

(7213446, 28)

In [8]:
df_2018.isnull().sum()

FL_DATE                      0
OP_CARRIER                   0
OP_CARRIER_FL_NUM            0
ORIGIN                       0
DEST                         0
CRS_DEP_TIME                 0
DEP_TIME                112317
DEP_DELAY               117234
TAXI_OUT                115830
WHEELS_OFF              115829
WHEELS_ON               119246
TAXI_IN                 119246
CRS_ARR_TIME                 0
ARR_TIME                119245
ARR_DELAY               137040
CANCELLED                    0
CANCELLATION_CODE      7096862
DIVERTED                     0
CRS_ELAPSED_TIME            10
ACTUAL_ELAPSED_TIME     134442
AIR_TIME                134442
DISTANCE                     0
CARRIER_DELAY          5860736
WEATHER_DELAY          5860736
NAS_DELAY              5860736
SECURITY_DELAY         5860736
LATE_AIRCRAFT_DELAY    5860736
Unnamed: 27            7213446
dtype: int64

In [9]:
df_2018['NAS_DELAY'] = df_2018['NAS_DELAY'].fillna(0)
df_2018['LATE_AIRCRAFT_DELAY'] = df_2018['LATE_AIRCRAFT_DELAY'].fillna(0)
df_2018['SECURITY_DELAY'] = df_2018['SECURITY_DELAY'].fillna(0)
df_2018['LATE_AIRCRAFT_DELAY'] = df_2018['LATE_AIRCRAFT_DELAY'].fillna(0)
df_2018['WEATHER_DELAY'] = df_2018['WEATHER_DELAY'].fillna(0)
df_2018['CARRIER_DELAY'] = df_2018['CARRIER_DELAY'].fillna(0)

In [10]:
df_2018 = df_2018.drop(columns=["Unnamed: 27"])
df_2018.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,0.0,268.0,250.0,225.0,1605.0,0.0,0.0,0.0,0.0,0.0
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,...,0.0,99.0,83.0,65.0,414.0,0.0,0.0,0.0,0.0,0.0
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,...,0.0,134.0,126.0,106.0,846.0,0.0,0.0,0.0,0.0,0.0
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,...,0.0,190.0,182.0,157.0,1120.0,0.0,0.0,0.0,0.0,0.0
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,...,0.0,112.0,106.0,83.0,723.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df_2018.isnull().sum()

FL_DATE                      0
OP_CARRIER                   0
OP_CARRIER_FL_NUM            0
ORIGIN                       0
DEST                         0
CRS_DEP_TIME                 0
DEP_TIME                112317
DEP_DELAY               117234
TAXI_OUT                115830
WHEELS_OFF              115829
WHEELS_ON               119246
TAXI_IN                 119246
CRS_ARR_TIME                 0
ARR_TIME                119245
ARR_DELAY               137040
CANCELLED                    0
CANCELLATION_CODE      7096862
DIVERTED                     0
CRS_ELAPSED_TIME            10
ACTUAL_ELAPSED_TIME     134442
AIR_TIME                134442
DISTANCE                     0
CARRIER_DELAY                0
WEATHER_DELAY                0
NAS_DELAY                    0
SECURITY_DELAY               0
LATE_AIRCRAFT_DELAY          0
dtype: int64

In [12]:
# group by CANCELLATION_REASON to see the ration
df_2018['CANCELLATION_CODE'].value_counts()

B    61984
A    29484
C    25072
D       44
Name: CANCELLATION_CODE, dtype: int64

In [13]:
df_2018.OP_CARRIER.unique()

array(['UA', 'AS', '9E', 'B6', 'EV', 'F9', 'G4', 'HA', 'MQ', 'NK', 'OH',
       'OO', 'VX', 'WN', 'YV', 'YX', 'AA', 'DL'], dtype=object)

In [14]:
df_2018.OP_CARRIER.nunique()

18

In [15]:
df_2018.OP_CARRIER.value_counts()

WN    1352552
DL     949283
AA     916818
OO     774137
UA     621565
YX     316090
B6     305010
MQ     296001
OH     278457
9E     245917
AS     245761
YV     215138
EV     202890
NK     176178
F9     120035
G4      96221
HA      83723
VX      17670
Name: OP_CARRIER, dtype: int64

In [16]:
df_2018['OP_CARRIER'].replace({
    'UA':'United Airlines',
    'AS':'Alaska Airlines',
    '9E':'Endeavor Air',
    'B6':'JetBlue Airways',
    'EV':'ExpressJet',
    'F9':'Frontier Airlines',
    'G4':'Allegiant Air',
    'HA':'Hawaiian Airlines',
    'MQ':'Envoy Air',
    'NK':'Spirit Airlines',
    'OH':'PSA Airlines',
    'OO':'SkyWest Airlines',
    'VX':'Virgin America',
    'WN':'Southwest Airlines',
    'YV':'Mesa Airline',
    'YX':'Republic Airways',
    'AA':'American Airlines',
    'DL':'Delta Airlines'
}, inplace=True)

In [17]:
df_2018.OP_CARRIER.unique()

array(['United Airlines', 'Alaska Airlines', 'Endeavor Air',
       'JetBlue Airways', 'ExpressJet', 'Frontier Airlines',
       'Allegiant Air', 'Hawaiian Airlines', 'Envoy Air',
       'Spirit Airlines', 'PSA Airlines', 'SkyWest Airlines',
       'Virgin America', 'Southwest Airlines', 'Mesa Airline',
       'Republic Airways', 'American Airlines', 'Delta Airlines'],
      dtype=object)

In [18]:
df_2018.CANCELLED.nunique()

2

In [19]:
df_2018.CANCELLED.value_counts()

0.0    7096862
1.0     116584
Name: CANCELLED, dtype: int64

In [50]:
df_2018 =  df_2018[(df_2018['CANCELLED'] == 0)]
df_2018.head(10)

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2018-01-01,United Airlines,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,0.0,268.0,250.0,225.0,1605.0,0.0,0.0,0.0,0.0,0.0
1,2018-01-01,United Airlines,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,...,0.0,99.0,83.0,65.0,414.0,0.0,0.0,0.0,0.0,0.0
2,2018-01-01,United Airlines,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,...,0.0,134.0,126.0,106.0,846.0,0.0,0.0,0.0,0.0,0.0
3,2018-01-01,United Airlines,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,...,0.0,190.0,182.0,157.0,1120.0,0.0,0.0,0.0,0.0,0.0
4,2018-01-01,United Airlines,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,...,0.0,112.0,106.0,83.0,723.0,0.0,0.0,0.0,0.0,0.0
5,2018-01-01,United Airlines,2422,ORD,OMA,2241,2244.0,3.0,15.0,2259.0,...,0.0,93.0,79.0,62.0,416.0,0.0,0.0,0.0,0.0,0.0
6,2018-01-01,United Airlines,2421,IAH,LAS,750,747.0,-3.0,14.0,801.0,...,0.0,206.0,193.0,173.0,1222.0,0.0,0.0,0.0,0.0,0.0
7,2018-01-01,United Airlines,2420,DEN,CID,1324,1318.0,-6.0,11.0,1329.0,...,0.0,115.0,102.0,85.0,692.0,0.0,0.0,0.0,0.0,0.0
8,2018-01-01,United Airlines,2419,SMF,EWR,2224,2237.0,13.0,10.0,2247.0,...,0.0,314.0,299.0,280.0,2500.0,0.0,0.0,0.0,0.0,0.0
9,2018-01-01,United Airlines,2418,RIC,DEN,1601,1559.0,-2.0,12.0,1611.0,...,0.0,252.0,237.0,217.0,1482.0,0.0,0.0,0.0,0.0,0.0

In [53]:
df_2018.shape

(7096862, 27)

In [54]:
df_2018.CANCELLATION_CODE.nunique()

0

In [55]:
df_2018 = df_2018.drop(['CANCELLED'], axis = 1)

In [56]:
df_2018.shape

(7096862, 26)

In [57]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7096862 entries, 0 to 7213445
Data columns (total 26 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_CARRIER           object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         int64
 6   DEP_TIME             float64
 7   DEP_DELAY            float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  WHEELS_ON            float64
 11  TAXI_IN              float64
 12  CRS_ARR_TIME         int64
 13  ARR_TIME             float64
 14  ARR_DELAY            float64
 15  CANCELLATION_CODE    object
 16  DIVERTED             float64
 17  CRS_ELAPSED_TIME     float64
 18  ACTUAL_ELAPSED_TIME  float64
 19  AIR_TIME             float64
 20  DISTANCE             float64
 21  CARRIER_DELAY        float64
 22  WEATHER_DELAY        float64
 23  NAS_DELAY            float64
 24  SECURITY_DELAY       float64
 25  LATE_AIRCRAFT_DELAY  float64
dtypes: float64(18), int64(3), object(5)
memory usage: 1.4+ GB

In [58]:
airport = pd.read_csv('airport.csv')
airport.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

In [59]:
airport.shape

(70174, 18)

In [60]:
airport.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70174 entries, 0 to 70173
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 70174 non-null  int64
 1   ident              70174 non-null  object
 2   type               70174 non-null  object
 3   name               70174 non-null  object
 4   latitude_deg       70174 non-null  float64
 5   longitude_deg      70174 non-null  float64
 6   elevation_ft       56986 non-null  float64
 7   continent          35545 non-null  object
 8   iso_country        69917 non-null  object
 9   iso_region         70174 non-null  object
 10  municipality       64833 non-null  object
 11  scheduled_service  70174 non-null  object
 12  gps_code           42694 non-null  object
 13  iata_code          9228 non-null   object
 14  local_code         32431 non-null  object
 15  home_link          3367 non-null   object
 16  wikipedia_link     10454 non-null  object
 17  keywords           12875 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 9.6+ MB

In [61]:
airport.iata_code.nunique()

9131

In [62]:
delay_df.ORIGIN.nunique()

358

In [31]:
delay_df.DEST.nunique()

358

In [195]:
#IATA_CODE = list(airport['iata_code'])

In [196]:
#ORIGIN = list(df1['ORIGIN'])

In [197]:
#Dest =list(df1['DEST'])

In [198]:
#differences between df1_ORIGIN and airport_IATA_CODE
#difference_1 = [item for item in ORIGIN if item not in IATA_CODE ]
#difference_1

In [199]:
# differences between df1_ORIGIN and airport_IATA_CODE
#difference_2 = [item for item in IATA_CODE if item not in ORIGIN]
#difference_2

In [63]:
merged_df = df_2018.merge(airport, how='inner', left_on=['ORIGIN'], right_on=['iata_code'])
merged_df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,2018-01-01,United Airlines,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,US,US-NJ,New York,yes,KEWR,EWR,EWR,http://www.panynj.gov/CommutingTravel/airports...,https://en.wikipedia.org/wiki/Newark_Liberty_I...,"Manhattan, New York City, NYC"
1,2018-01-01,United Airlines,2415,EWR,PDX,825,822.0,-3.0,15.0,837.0,...,US,US-NJ,New York,yes,KEWR,EWR,EWR,http://www.panynj.gov/CommutingTravel/airports...,https://en.wikipedia.org/wiki/Newark_Liberty_I...,"Manhattan, New York City, NYC"
2,2018-01-01,United Airlines,2414,EWR,ATL,1044,1055.0,11.0,11.0,1106.0,...,US,US-NJ,New York,yes,KEWR,EWR,EWR,http://www.panynj.gov/CommutingTravel/airports...,https://en.wikipedia.org/wiki/Newark_Liberty_I...,"Manhattan, New York City, NYC"
3,2018-01-01,United Airlines,2411,EWR,SMF,1810,1922.0,72.0,16.0,1938.0,...,US,US-NJ,New York,yes,KEWR,EWR,EWR,http://www.panynj.gov/CommutingTravel/airports...,https://en.wikipedia.org/wiki/Newark_Liberty_I...,"Manhattan, New York City, NYC"
4,2018-01-01,United Airlines,2406,EWR,TYS,830,844.0,14.0,20.0,904.0,...,US,US-NJ,New York,yes,KEWR,EWR,EWR,http://www.panynj.gov/CommutingTravel/airports...,https://en.wikipedia.org/wiki/Newark_Liberty_I...,"Manhattan, New York City, NYC"

In [64]:
merged_df = merged_df.drop(columns=['id' ,'ident','type','elevation_ft','continent', 'iso_country' ,'scheduled_service','gps_code' ,'local_code',	'home_link'	,'wikipedia_link','keywords', 'iso_region','iata_code'])

In [65]:
merged_df.shape

(7091480, 30)

In [66]:
merged_df = merged_df.rename(columns={'name':'Org_Airport','latitude_deg':'Org_latitude','longitude_deg': 'Org_longitude'   , 'municipality':'Origin_city'})

In [67]:
merged_df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Org_Airport,Org_latitude,Org_longitude,Origin_city
0,2018-01-01,United Airlines,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,1605.0,0.0,0.0,0.0,0.0,0.0,Newark Liberty International Airport,40.692501,-74.168701,New York
1,2018-01-01,United Airlines,2415,EWR,PDX,825,822.0,-3.0,15.0,837.0,...,2434.0,0.0,0.0,0.0,0.0,0.0,Newark Liberty International Airport,40.692501,-74.168701,New York
2,2018-01-01,United Airlines,2414,EWR,ATL,1044,1055.0,11.0,11.0,1106.0,...,746.0,0.0,0.0,0.0,0.0,0.0,Newark Liberty International Airport,40.692501,-74.168701,New York
3,2018-01-01,United Airlines,2411,EWR,SMF,1810,1922.0,72.0,16.0,1938.0,...,2500.0,7.0,0.0,0.0,0.0,18.0,Newark Liberty International Airport,40.692501,-74.168701,New York
4,2018-01-01,United Airlines,2406,EWR,TYS,830,844.0,14.0,20.0,904.0,...,631.0,0.0,0.0,0.0,0.0,0.0,Newark Liberty International Airport,40.692501,-74.168701,New York

In [68]:
merged_df = merged_df.merge(airport, how='inner', left_on=['DEST'], right_on=['iata_code'])
merged_df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,2018-01-01,United Airlines,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,US,US-CO,Denver,yes,KDEN,DEN,DEN,http://www.flydenver.com/,https://en.wikipedia.org/wiki/Denver_Internati...,"DVX, KVDX"
1,2018-01-01,United Airlines,2041,EWR,DEN,1657,1938.0,161.0,14.0,1952.0,...,US,US-CO,Denver,yes,KDEN,DEN,DEN,http://www.flydenver.com/,https://en.wikipedia.org/wiki/Denver_Internati...,"DVX, KVDX"
2,2018-01-01,United Airlines,1819,EWR,DEN,600,559.0,-1.0,14.0,613.0,...,US,US-CO,Denver,yes,KDEN,DEN,DEN,http://www.flydenver.com/,https://en.wikipedia.org/wiki/Denver_Internati...,"DVX, KVDX"
3,2018-01-01,United Airlines,1740,EWR,DEN,1855,1906.0,11.0,26.0,1932.0,...,US,US-CO,Denver,yes,KDEN,DEN,DEN,http://www.flydenver.com/,https://en.wikipedia.org/wiki/Denver_Internati...,"DVX, KVDX"
4,2018-01-01,United Airlines,1262,EWR,DEN,1150,1149.0,-1.0,13.0,1202.0,...,US,US-CO,Denver,yes,KDEN,DEN,DEN,http://www.flydenver.com/,https://en.wikipedia.org/wiki/Denver_Internati...,"DVX, KVDX"

In [69]:
merged_df = merged_df.drop(columns=['id' ,'ident','type','elevation_ft','continent', 'iso_country' ,'scheduled_service','gps_code' ,'local_code' ,'home_link','wikipedia_link','keywords', 'iso_region','iata_code'])

In [70]:
merged_df = merged_df.rename(columns={'name':'Dest_Airport','latitude_deg':'Dest_latitude','longitude_deg': 'Dest_longitude' , 'municipality':'Dest_city'})

In [71]:
merged_df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Org_Airport,Org_latitude,Org_longitude,Origin_city,Dest_Airport,Dest_latitude,Dest_longitude,Dest_city
0,2018-01-01,United Airlines,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,0.0,0.0,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver
1,2018-01-01,United Airlines,2041,EWR,DEN,1657,1938.0,161.0,14.0,1952.0,...,0.0,116.0,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver
2,2018-01-01,United Airlines,1819,EWR,DEN,600,559.0,-1.0,14.0,613.0,...,0.0,0.0,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver
3,2018-01-01,United Airlines,1740,EWR,DEN,1855,1906.0,11.0,26.0,1932.0,...,0.0,0.0,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver
4,2018-01-01,United Airlines,1262,EWR,DEN,1150,1149.0,-1.0,13.0,1202.0,...,0.0,0.0,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver

In [72]:
merged_df['FL_DATE']  = pd.to_datetime(merged_df.FL_DATE)

In [73]:
merged_df.dtypes

FL_DATE                datetime64[ns]
OP_CARRIER                     object
OP_CARRIER_FL_NUM               int64
ORIGIN                         object
DEST                           object
CRS_DEP_TIME                    int64
DEP_TIME                      float64
DEP_DELAY                     float64
TAXI_OUT                      float64
WHEELS_OFF                    float64
WHEELS_ON                     float64
TAXI_IN                       float64
CRS_ARR_TIME                    int64
ARR_TIME                      float64
ARR_DELAY                     float64
CANCELLATION_CODE              object
DIVERTED                      float64
CRS_ELAPSED_TIME              float64
ACTUAL_ELAPSED_TIME           float64
AIR_TIME                      float64
DISTANCE                      float64
CARRIER_DELAY                 float64
WEATHER_DELAY                 float64
NAS_DELAY                     float64
SECURITY_DELAY                float64
LATE_AIRCRAFT_DELAY           float64
Org_Airport                    object
Org_latitude                  float64
Org_longitude                 float64
Origin_city                    object
Dest_Airport                   object
Dest_latitude                 float64
Dest_longitude                float64
Dest_city                      object
dtype: object

In [74]:
merged_df['month'] = pd.DatetimeIndex(merged_df['FL_DATE']).month
merged_df['Day'] = pd.DatetimeIndex(merged_df['FL_DATE']).day
merged_df

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,Org_Airport,Org_latitude,Org_longitude,Origin_city,Dest_Airport,Dest_latitude,Dest_longitude,Dest_city,month,Day
0,2018-01-01,United Airlines,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1
1,2018-01-01,United Airlines,2041,EWR,DEN,1657,1938.0,161.0,14.0,1952.0,...,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1
2,2018-01-01,United Airlines,1819,EWR,DEN,600,559.0,-1.0,14.0,613.0,...,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1
3,2018-01-01,United Airlines,1740,EWR,DEN,1855,1906.0,11.0,26.0,1932.0,...,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1
4,2018-01-01,United Airlines,1262,EWR,DEN,1150,1149.0,-1.0,13.0,1202.0,...,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7086086,2018-12-28,SkyWest Airlines,5104,JMS,DVL,2315,2328.0,13.0,14.0,2342.0,...,Jamestown Regional Airport,46.929699,-98.678200,Jamestown,Devils Lake Regional Airport,48.114201,-98.908798,Devils Lake,12,28
7086087,2018-12-29,SkyWest Airlines,5104,JMS,DVL,2315,2258.0,-17.0,20.0,2318.0,...,Jamestown Regional Airport,46.929699,-98.678200,Jamestown,Devils Lake Regional Airport,48.114201,-98.908798,Devils Lake,12,29
7086088,2018-12-30,SkyWest Airlines,5102,JMS,DVL,1310,1252.0,-18.0,14.0,1306.0,...,Jamestown Regional Airport,46.929699,-98.678200,Jamestown,Devils Lake Regional Airport,48.114201,-98.908798,Devils Lake,12,30
7086089,2018-12-30,SkyWest Airlines,5104,JMS,DVL,2315,2259.0,-16.0,44.0,2343.0,...,Jamestown Regional Airport,46.929699,-98.678200,Jamestown,Devils Lake Regional Airport,48.114201,-98.908798,Devils Lake,12,30
7086090,2018-12-31,SkyWest Airlines,5104,JMS,DVL,2220,2317.0,57.0,8.0,2325.0,...,Jamestown Regional Airport,46.929699,-98.678200,Jamestown,Devils Lake Regional Airport,48.114201,-98.908798,Devils Lake,12,31

In [75]:
merged_df.columns

Index(['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'Org_Airport', 'Org_latitude', 'Org_longitude', 'Origin_city',
       'Dest_Airport', 'Dest_latitude', 'Dest_longitude', 'Dest_city', 'month',
       'Day'],
      dtype='object')

In [76]:
df1_DIV = merged_df[merged_df['DIVERTED']==1]
print(df1_DIV.shape)

(17828, 36)

In [77]:
df1_DIV.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,Org_Airport,Org_latitude,Org_longitude,Origin_city,Dest_Airport,Dest_latitude,Dest_longitude,Dest_city,month,Day
111,2018-01-15,Southwest Airlines,792,EWR,DEN,910,910.0,0.0,38.0,948.0,...,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,15
192,2018-01-27,United Airlines,1740,EWR,DEN,1854,1902.0,8.0,19.0,1921.0,...,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,27
533,2018-03-15,United Airlines,2429,EWR,DEN,1548,1549.0,1.0,33.0,1622.0,...,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,3,15
870,2018-04-28,United Airlines,485,EWR,DEN,1920,1912.0,-8.0,132.0,2124.0,...,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,4,28
1117,2018-05-28,United Airlines,2429,EWR,DEN,1557,1606.0,9.0,23.0,1629.0,...,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,5,28

In [78]:
df1_DIV.ARR_DELAY.nunique()

0

In [79]:
df1_DIV.ARR_DELAY.unique()

array([nan])

In [80]:
merged_df = merged_df.drop(['DIVERTED'], axis=1)

In [81]:
df2_time = merged_df.drop(columns=['DEP_TIME', 'ARR_TIME'], axis=1)
df2_time.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,...,Org_Airport,Org_latitude,Org_longitude,Origin_city,Dest_Airport,Dest_latitude,Dest_longitude,Dest_city,month,Day
0,2018-01-01,United Airlines,2429,EWR,DEN,1517,-5.0,15.0,1527.0,1712.0,...,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1
1,2018-01-01,United Airlines,2041,EWR,DEN,1657,161.0,14.0,1952.0,2130.0,...,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1
2,2018-01-01,United Airlines,1819,EWR,DEN,600,-1.0,14.0,613.0,806.0,...,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1
3,2018-01-01,United Airlines,1740,EWR,DEN,1855,11.0,26.0,1932.0,2112.0,...,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1
4,2018-01-01,United Airlines,1262,EWR,DEN,1150,-1.0,13.0,1202.0,1353.0,...,Newark Liberty International Airport,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1

In [82]:
merged_df = merged_df.drop(columns=['DEP_TIME', 'ARR_TIME'], axis=1)

In [83]:
merged_df = merged_df.drop(['OP_CARRIER_FL_NUM'], axis=1)

In [84]:
merged_df = merged_df.drop(['CANCELLATION_CODE'], axis=1)

In [85]:
merged_df = merged_df.drop(['ORIGIN'], axis=1)

In [86]:
merged_df = merged_df.drop(['DEST'], axis=1)

In [87]:
merged_df.isnull().sum()

FL_DATE                    0
OP_CARRIER                 0
CRS_DEP_TIME               0
DEP_DELAY               4743
TAXI_OUT                   0
WHEELS_OFF                 0
WHEELS_ON               2656
TAXI_IN                 2656
CRS_ARR_TIME               0
ARR_DELAY              20427
CRS_ELAPSED_TIME           7
ACTUAL_ELAPSED_TIME    17829
AIR_TIME               17829
DISTANCE                   0
CARRIER_DELAY              0
WEATHER_DELAY              0
NAS_DELAY                  0
SECURITY_DELAY             0
LATE_AIRCRAFT_DELAY        0
Org_Airport                0
Org_latitude               0
Org_longitude              0
Origin_city                0
Dest_Airport               0
Dest_latitude              0
Dest_longitude             0
Dest_city                  0
month                      0
Day                        0
dtype: int64

In [89]:
df_NaN = merged_df.loc[merged_df.isnull().any(axis=1)]
df_NaN = df_NaN.drop(['Org_latitude','Org_longitude','Origin_city','Dest_latitude' ,'Dest_longitude','Dest_city' ,'WEATHER_DELAY' ,'NAS_DELAY' ,'SECURITY_DELAY' ,'LATE_AIRCRAFT_DELAY' ,'month','Day'], axis=1)
df_NaN.head()

,FL_DATE,OP_CARRIER,CRS_DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,Org_Airport,Dest_Airport
111,2018-01-15,Southwest Airlines,910,0.0,38.0,948.0,1732.0,8.0,1145,NaN,275.0,NaN,NaN,1605.0,0.0,Newark Liberty International Airport,Denver International Airport
192,2018-01-27,United Airlines,1854,8.0,19.0,1921.0,2321.0,7.0,2126,NaN,272.0,NaN,NaN,1605.0,0.0,Newark Liberty International Airport,Denver International Airport
533,2018-03-15,United Airlines,1548,1.0,33.0,1622.0,2017.0,6.0,1818,NaN,270.0,NaN,NaN,1605.0,0.0,Newark Liberty International Airport,Denver International Airport
870,2018-04-28,United Airlines,1920,-8.0,132.0,2124.0,23.0,6.0,2146,NaN,266.0,NaN,NaN,1605.0,0.0,Newark Liberty International Airport,Denver International Airport
1117,2018-05-28,United Airlines,1557,9.0,23.0,1629.0,2056.0,10.0,1820,NaN,263.0,NaN,NaN,1605.0,0.0,Newark Liberty International Airport,Denver International Airport

In [90]:
merged_df["DEP_DELAY"] = merged_df["DEP_DELAY"].fillna(0)

In [93]:
merged_df['TAXI_IN'].fillna((merged_df['TAXI_IN'].mean()), inplace=True)

In [94]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7086091 entries, 0 to 7086090
Data columns (total 29 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              datetime64[ns]
 1   OP_CARRIER           object
 2   CRS_DEP_TIME         int64
 3   DEP_DELAY            float64
 4   TAXI_OUT             float64
 5   WHEELS_OFF           float64
 6   WHEELS_ON            float64
 7   TAXI_IN              float64
 8   CRS_ARR_TIME         int64
 9   ARR_DELAY            float64
 10  CRS_ELAPSED_TIME     float64
 11  ACTUAL_ELAPSED_TIME  float64
 12  AIR_TIME             float64
 13  DISTANCE             float64
 14  CARRIER_DELAY        float64
 15  WEATHER_DELAY        float64
 16  NAS_DELAY            float64
 17  SECURITY_DELAY       float64
 18  LATE_AIRCRAFT_DELAY  float64
 19  Org_Airport          object
 20  Org_latitude         float64
 21  Org_longitude        float64
 22  Origin_city          object
 23  Dest_Airport         object
 24  Dest_latitude        float64
 25  Dest_longitude       float64
 26  Dest_city            object
 27  month                int64
 28  Day                  int64
dtypes: datetime64[ns](1), float64(19), int64(4), object(5)
memory usage: 1.6+ GB

In [95]:
merged_df.isnull().sum()

FL_DATE                    0
OP_CARRIER                 0
CRS_DEP_TIME               0
DEP_DELAY                  0
TAXI_OUT                   0
WHEELS_OFF                 0
WHEELS_ON               2656
TAXI_IN                    0
CRS_ARR_TIME               0
ARR_DELAY              20427
CRS_ELAPSED_TIME           7
ACTUAL_ELAPSED_TIME    17829
AIR_TIME               17829
DISTANCE                   0
CARRIER_DELAY              0
WEATHER_DELAY              0
NAS_DELAY                  0
SECURITY_DELAY             0
LATE_AIRCRAFT_DELAY        0
Org_Airport                0
Org_latitude               0
Org_longitude              0
Origin_city                0
Dest_Airport               0
Dest_latitude              0
Dest_longitude             0
Dest_city                  0
month                      0
Day                        0
dtype: int64

In [96]:
import calendar
merged_df['MONTH_abbr'] = merged_df['month'].apply(lambda x: calendar.month_abbr[x])

merged_df.head()

,FL_DATE,OP_CARRIER,CRS_DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,...,Org_latitude,Org_longitude,Origin_city,Dest_Airport,Dest_latitude,Dest_longitude,Dest_city,month,Day,MONTH_abbr
0,2018-01-01,United Airlines,1517,-5.0,15.0,1527.0,1712.0,10.0,1745,-23.0,...,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1,Jan
1,2018-01-01,United Airlines,1657,161.0,14.0,1952.0,2130.0,7.0,1925,132.0,...,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1,Jan
2,2018-01-01,United Airlines,600,-1.0,14.0,613.0,806.0,6.0,835,-23.0,...,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1,Jan
3,2018-01-01,United Airlines,1855,11.0,26.0,1932.0,2112.0,12.0,2126,-2.0,...,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1,Jan
4,2018-01-01,United Airlines,1150,-1.0,13.0,1202.0,1353.0,7.0,1418,-18.0,...,40.692501,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1,Jan

In [97]:
status = []

for value in merged_df['ARR_DELAY']:
    if value < 0:
        status.append(0)
    else:
        status.append(1)
merged_df['DELAY_STATUS'] = status
merged_df.head(2)

,FL_DATE,OP_CARRIER,CRS_DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,...,Org_longitude,Origin_city,Dest_Airport,Dest_latitude,Dest_longitude,Dest_city,month,Day,MONTH_abbr,DELAY_STATUS
0,2018-01-01,United Airlines,1517,-5.0,15.0,1527.0,1712.0,10.0,1745,-23.0,...,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1,Jan,0
1,2018-01-01,United Airlines,1657,161.0,14.0,1952.0,2130.0,7.0,1925,132.0,...,-74.168701,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1,Jan,1

In [98]:
merged_df.DELAY_STATUS.value_counts(normalize=True)

0    0.622924
1    0.377076
Name: DELAY_STATUS, dtype: float64

In [100]:
merged_df.isna().sum()

FL_DATE                    0
OP_CARRIER                 0
CRS_DEP_TIME               0
DEP_DELAY                  0
TAXI_OUT                   0
WHEELS_OFF                 0
WHEELS_ON               2656
TAXI_IN                    0
CRS_ARR_TIME               0
ARR_DELAY              20427
CRS_ELAPSED_TIME           7
ACTUAL_ELAPSED_TIME    17829
AIR_TIME               17829
DISTANCE                   0
CARRIER_DELAY              0
WEATHER_DELAY              0
NAS_DELAY                  0
SECURITY_DELAY             0
LATE_AIRCRAFT_DELAY        0
Org_Airport                0
Org_latitude               0
Org_longitude              0
Origin_city                0
Dest_Airport               0
Dest_latitude              0
Dest_longitude             0
Dest_city                  0
month                      0
Day                        0
MONTH_abbr                 0
DELAY_STATUS               0
dtype: int64

In [101]:
merged_df = merged_df.dropna()

In [102]:
merged_df.shape

(7065663, 31)

In [103]:
merged_df.isna().sum()

FL_DATE                0
OP_CARRIER             0
CRS_DEP_TIME           0
DEP_DELAY              0
TAXI_OUT               0
WHEELS_OFF             0
WHEELS_ON              0
TAXI_IN                0
CRS_ARR_TIME           0
ARR_DELAY              0
CRS_ELAPSED_TIME       0
ACTUAL_ELAPSED_TIME    0
AIR_TIME               0
DISTANCE               0
CARRIER_DELAY          0
WEATHER_DELAY          0
NAS_DELAY              0
SECURITY_DELAY         0
LATE_AIRCRAFT_DELAY    0
Org_Airport            0
Org_latitude           0
Org_longitude          0
Origin_city            0
Dest_Airport           0
Dest_latitude          0
Dest_longitude         0
Dest_city              0
month                  0
Day                    0
MONTH_abbr             0
DELAY_STATUS           0
dtype: int64

In [ ]:
#merged_df = merged_df.dropna(subset = ['OP_CARRIER', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'Org_Airport', 'Dest_Airport', 'Day' ,'ACTUAL_ELAPSED_TIME' , 'AIR_TIME','AIR_TIME' ])

In [104]:
merged_df.to_csv('2018_clean_final.csv', index=False)