In [2]:
import os
import pandas as pd
import numpy as np


spark_version = 'spark-3.0.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.0.3/spark-3.0.3-bin-hadoop2.7.tgz
!tar xf spark-3.0.3-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:9 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:14 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [76.0 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:17 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [872 kB]
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,823 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [738 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,242 kB]
Get:21 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,463 kB]
Get:22 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,517 kB]
Get:23 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [934 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,954 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [771 kB]
Get:26 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Fetched 14.7 MB in 6s (2,542 kB/s)
Reading package lists... Done

In [3]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-01-29 21:33:51--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.08s

2022-01-29 21:33:52 (11.6 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Final-Project").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [5]:
from pyspark.sql import *
from pyspark.sql.functions import col, when
from pyspark.sql import SparkSession
from pyspark.sql.functions import lpad
from pyspark.sql.functions import concat
from pyspark.sql.functions import lit
from pyspark.sql.functions import substring

In [6]:
from pyspark import SparkFiles
#url = "https://finalprojectstorage10.s3.us-east-2.amazonaws.com/2018_clean_final.csv"
url = "https://storage.googleapis.com/uftairlinedbbucket/2018_clean_final.csv"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get("2018_clean_final.csv"), header=True)
df.show()

+----------+------------------+------------+---------+--------+----------+---------+-------+------------+---------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+--------------------+------------+-------------+-----------+--------------------+-------------+--------------+---------+-----+---+----------+------------+
|   FL_DATE|        OP_CARRIER|CRS_DEP_TIME|DEP_DELAY|TAXI_OUT|WHEELS_OFF|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_DELAY|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|         Org_Airport|Org_latitude|Org_longitude|Origin_city|        Dest_Airport|Dest_latitude|Dest_longitude|Dest_city|month|Day|MONTH_abbr|DELAY_STATUS|
+----------+------------------+------------+---------+--------+----------+---------+-------+------------+---------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+--------------------+------------+-------------+-----------+--------------------+-------------+--------------+---------+-----+---+----------+------------+
|2018-01-01|   United Airlines|        1517|     -5.0|    15.0|    1527.0|   1712.0|   10.0|        1745|    -23.0|           268.0|              250.0|   225.0|  1605.0|          0.0|          0.0|      0.0|           0.0|                0.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  1|       Jan|           0|
|2018-01-01|   United Airlines|        1657|    161.0|    14.0|    1952.0|   2130.0|    7.0|        1925|    132.0|           268.0|              239.0|   218.0|  1605.0|         16.0|          0.0|      0.0|           0.0|              116.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  1|       Jan|           1|
|2018-01-01|   United Airlines|         600|     -1.0|    14.0|     613.0|    806.0|    6.0|         835|    -23.0|           275.0|              253.0|   233.0|  1605.0|          0.0|          0.0|      0.0|           0.0|                0.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  1|       Jan|           0|
|2018-01-01|   United Airlines|        1855|     11.0|    26.0|    1932.0|   2112.0|   12.0|        2126|     -2.0|           271.0|              258.0|   220.0|  1605.0|          0.0|          0.0|      0.0|           0.0|                0.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  1|       Jan|           0|
|2018-01-01|   United Airlines|        1150|     -1.0|    13.0|    1202.0|   1353.0|    7.0|        1418|    -18.0|           268.0|              251.0|   231.0|  1605.0|          0.0|          0.0|      0.0|           0.0|                0.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  1|       Jan|           0|
|2018-01-01|   United Airlines|        1800|     -1.0|    19.0|    1818.0|   2001.0|    9.0|        2031|    -21.0|           271.0|              251.0|   223.0|  1605.0|          0.0|          0.0|      0.0|           0.0|                0.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  1|       Jan|           0|
|2018-01-01|   United Airlines|         739|     -3.0|    25.0|     801.0|    952.0|   10.0|        1014|    -12.0|           275.0|              266.0|   231.0|  1605.0|          0.0|          0.0|      0.0|           0.0|                0.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  1|       Jan|           0|
|2018-01-01|Southwest Airlines|        1835|      5.0|    18.0|    1858.0|   2042.0|    6.0|        2115|    -27.0|           280.0|              248.0|   224.0|  1605.0|          0.0|          0.0|      0.0|           0.0|                0.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  1|       Jan|           0|
|2018-01-01|Southwest Airlines|         910|     -3.0|    21.0|     928.0|   1117.0|    7.0|        1150|    -26.0|           280.0|              257.0|   229.0|  1605.0|          0.0|          0.0|      0.0|           0.0|                0.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  1|       Jan|           0|
|2018-01-01|Southwest Airlines|        1240|    169.0|    10.0|    1539.0|   1725.0|    6.0|        1505|    146.0|           265.0|              242.0|   226.0|  1605.0|          3.0|          0.0|      0.0|           0.0|              143.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  1|       Jan|           1|
|2018-01-02|Southwest Airlines|        1920|     47.0|    23.0|    2030.0|   2205.0|    5.0|        2155|     15.0|           275.0|              243.0|   215.0|  1605.0|          4.0|          0.0|      0.0|           0.0|               11.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  2|       Jan|           1|
|2018-01-02|Southwest Airlines|        1325|     18.0|    15.0|    1358.0|   1529.0|    6.0|        1555|    -20.0|           270.0|              232.0|   211.0|  1605.0|          0.0|          0.0|      0.0|           0.0|                0.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  2|       Jan|           0|
|2018-01-02|Southwest Airlines|         925|     -1.0|    19.0|     943.0|   1120.0|    6.0|        1205|    -39.0|           280.0|              242.0|   217.0|  1605.0|          0.0|          0.0|      0.0|           0.0|                0.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  2|       Jan|           0|
|2018-01-02|   United Airlines|        1517|      5.0|    13.0|    1535.0|   1712.0|    5.0|        1747|    -30.0|           270.0|              235.0|   217.0|  1605.0|          0.0|          0.0|      0.0|           0.0|                0.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  2|       Jan|           0|
|2018-01-02|   United Airlines|        1651|     -7.0|    19.0|    1703.0|   1840.0|    7.0|        1921|    -34.0|           270.0|              243.0|   217.0|  1605.0|          0.0|          0.0|      0.0|           0.0|                0.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  2|       Jan|           0|
|2018-01-02|   United Airlines|         600|     -3.0|    14.0|     611.0|    739.0|    6.0|         837|    -52.0|           277.0|              228.0|   208.0|  1605.0|          0.0|          0.0|      0.0|           0.0|                0.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  2|       Jan|           0|
|2018-01-02|   United Airlines|        1855|     27.0|    23.0|    1945.0|   2115.0|    6.0|        2126|     -5.0|           271.0|              239.0|   210.0|  1605.0|          0.0|          0.0|      0.0|           0.0|                0.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  2|       Jan|           0|
|2018-01-02|   United Airlines|        1150|     12.0|    20.0|    1222.0|   1350.0|    4.0|        1418|    -24.0|           268.0|              232.0|   208.0|  1605.0|          0.0|          0.0|      0.0|           0.0|                0.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  2|       Jan|           0|
|2018-01-02|   United Airlines|        1800|     36.0|    25.0|    1901.0|   2035.0|    5.0|        2031|      9.0|           271.0|              244.0|   214.0|  1605.0|          0.0|          0.0|      0.0|           0.0|                0.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  2|       Jan|           1|
|2018-01-02|   United Airlines|         900|      2.0|    18.0|     920.0|   1048.0|    7.0|        1140|    -45.0|           280.0|              233.0|   208.0|  1605.0|          0.0|          0.0|      0.0|           0.0|                0.0|Newark Liberty In...|   40.692501|   -74.168701|   New York|Denver Internatio...|  39.86169815|  -104.6729965|   Denver|    1|  2|       Jan|           0|
+----------+------------------+------------+---------+--------+----------+---------+-------+------------+---------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+--------------------+------------+-------------+-----------+--------------------+-------------+--------------+---------+-----+---+----------+------------+
only showing top 20 rows

In [7]:
from pyspark.sql.functions import *

#Timestamp function to fix formatting
def padTimeStamp(x,y):
  if y is None:
      y = "0"

  y = y.replace(".0","")
  return x + " " + y.zfill(4)[0:2] + ":" + y.zfill(4)[2:4]

#Create udf becuase python fucntions do not work with pyspark
padTimeStampUDF = udf(lambda x,y: padTimeStamp(x,y)) 

#inital dataframe applying the udf to pad and format the timestamp columns and pick the rest of the columns
initial_ml_df = df.select(
                    "FL_DATE",
                    "OP_CARRIER",
                    padTimeStampUDF(df["FL_DATE"],df["CRS_DEP_TIME"]).alias("CRS_DEPARTURE_TIMESTAMP"),
                    df.columns[3],df.columns[4],
                    padTimeStampUDF(df["FL_DATE"],df["WHEELS_OFF"]).alias("WHEELS_OFF_TIMESTAMP"),
                    padTimeStampUDF(df["FL_DATE"],df["WHEELS_ON"]).alias("WHEELS_ON_TIMESTAMP"),
                    df.columns[7],
                    padTimeStampUDF(df["FL_DATE"],df["CRS_ARR_TIME"]).alias("CRS_ARRIVAL_TIMESTAMP"),
                    df.columns[9], df.columns[10], df.columns[11], df.columns[12], df.columns[13], df.columns[14], df.columns[15], df.columns[16], df.columns[17], df.columns[18], df.columns[19], df.columns[20], df.columns[21],
                    df.columns[22],df.columns[23],df.columns[24],df.columns[25],df.columns[26],df.columns[27],df.columns[28],df.columns[29],df.columns[30]
                  )
initial_ml_df.printSchema()
#initial_ml_df.show()

root
 |-- FL_DATE: string (nullable = true)
 |-- OP_CARRIER: string (nullable = true)
 |-- CRS_DEPARTURE_TIMESTAMP: string (nullable = true)
 |-- DEP_DELAY: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF_TIMESTAMP: string (nullable = true)
 |-- WHEELS_ON_TIMESTAMP: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- CRS_ARRIVAL_TIMESTAMP: string (nullable = true)
 |-- ARR_DELAY: string (nullable = true)
 |-- CRS_ELAPSED_TIME: string (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: string (nullable = true)
 |-- CARRIER_DELAY: string (nullable = true)
 |-- WEATHER_DELAY: string (nullable = true)
 |-- NAS_DELAY: string (nullable = true)
 |-- SECURITY_DELAY: string (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: string (nullable = true)
 |-- Org_Airport: string (nullable = true)
 |-- Org_latitude: string (nullable = true)
 |-- Org_longitude: string (nullable = true)
 |-- Origin_city: string (nullable = true)
 |-- Dest_Airport: string (nullable = true)
 |-- Dest_latitude: string (nullable = true)
 |-- Dest_longitude: string (nullable = true)
 |-- Dest_city: string (nullable = true)
 |-- month: string (nullable = true)
 |-- Day: string (nullable = true)
 |-- MONTH_abbr: string (nullable = true)
 |-- DELAY_STATUS: string (nullable = true)

In [8]:
#Final df where we change the column names and cast the datatypes
final_ml_df = initial_ml_df.selectExpr(
                                "cast(FL_DATE as date) FLIGHT_DT",
                                "OP_CARRIER as AIRLINE_CARRIER_CODE",
                                "cast(CRS_DEPARTURE_TIMESTAMP as timestamp) CRS_DEPARTURE_TIMESTAMP",
                                "cast(DEP_DELAY as integer) as DEPARTURE_DELAY_MINUTES",
                                "cast(TAXI_OUT as integer) TAXI_OUT_MINUTES",
                                "cast(WHEELS_OFF_TIMESTAMP as timestamp) WHEELS_OFF_TIMESTAMP",
                                "cast(WHEELS_ON_TIMESTAMP as timestamp) WHEELS_ON_TIMESTAMP",
                                "cast(TAXI_IN as integer) TAXI_IN_MINUTES",
                                "cast(CRS_ARRIVAL_TIMESTAMP as timestamp) CRS_ARRIVAL_TIMESTAMP",
                                "cast(ARR_DELAY as integer) ARRIVAL_DELAY_MINUTES",
                                "cast(CRS_ELAPSED_TIME as integer) CRS_ELAPSED_TIME_MINUTES",
                                "cast(ACTUAL_ELAPSED_TIME as integer) ACTUAL_ELAPSED_TIME_MINUTES",
                                "cast(AIR_TIME as integer) AIR_TIME_MINUTES",
                                "cast(DISTANCE as integer) DISTANCE_MILES",
                                "cast(CARRIER_DELAY as integer) CARRIER_DELAY_MINUTES",
                                "cast(WEATHER_DELAY as integer) WEATHER_DELAY_MINUTES",
                                "cast(NAS_DELAY as integer) NAS_DELAY_MINUTES",
                                "cast(SECURITY_DELAY as integer) SECURITY_DELAY_MINUTES",
                                "cast(LATE_AIRCRAFT_DELAY as integer) LATE_AIRCRAFT_DELAY_MINUTES",
                                "Org_Airport as ORG_AIRPORT",
                                "cast(Org_latitude as integer) ORG_LATITUDE",
                                "cast(Org_longitude as integer) ORG_LONGITUDE",
                                "Origin_city as ORIGIN_CITY",
                                "Dest_Airport as DEST_AIRPORT",
                                "cast(Dest_latitude as integer) DEST_LATITUDE",
                                "cast(Dest_longitude as integer) DEST_LONGITUDE",
                                "Dest_city as DEST_CITY",
                                "month as MONTH",
                                "Day as DAY",
                                "MONTH_abbr as MONTH_ABBR",
                                "cast(DELAY_STATUS as integer) DELAY_STATUS"
                                )
#final_ml_df.show()

In [9]:
final_ml_df.printSchema()

root
 |-- FLIGHT_DT: date (nullable = true)
 |-- AIRLINE_CARRIER_CODE: string (nullable = true)
 |-- CRS_DEPARTURE_TIMESTAMP: timestamp (nullable = true)
 |-- DEPARTURE_DELAY_MINUTES: integer (nullable = true)
 |-- TAXI_OUT_MINUTES: integer (nullable = true)
 |-- WHEELS_OFF_TIMESTAMP: timestamp (nullable = true)
 |-- WHEELS_ON_TIMESTAMP: timestamp (nullable = true)
 |-- TAXI_IN_MINUTES: integer (nullable = true)
 |-- CRS_ARRIVAL_TIMESTAMP: timestamp (nullable = true)
 |-- ARRIVAL_DELAY_MINUTES: integer (nullable = true)
 |-- CRS_ELAPSED_TIME_MINUTES: integer (nullable = true)
 |-- ACTUAL_ELAPSED_TIME_MINUTES: integer (nullable = true)
 |-- AIR_TIME_MINUTES: integer (nullable = true)
 |-- DISTANCE_MILES: integer (nullable = true)
 |-- CARRIER_DELAY_MINUTES: integer (nullable = true)
 |-- WEATHER_DELAY_MINUTES: integer (nullable = true)
 |-- NAS_DELAY_MINUTES: integer (nullable = true)
 |-- SECURITY_DELAY_MINUTES: integer (nullable = true)
 |-- LATE_AIRCRAFT_DELAY_MINUTES: integer (nullable = true)
 |-- ORG_AIRPORT: string (nullable = true)
 |-- ORG_LATITUDE: integer (nullable = true)
 |-- ORG_LONGITUDE: integer (nullable = true)
 |-- ORIGIN_CITY: string (nullable = true)
 |-- DEST_AIRPORT: string (nullable = true)
 |-- DEST_LATITUDE: integer (nullable = true)
 |-- DEST_LONGITUDE: integer (nullable = true)
 |-- DEST_CITY: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- DAY: string (nullable = true)
 |-- MONTH_ABBR: string (nullable = true)
 |-- DELAY_STATUS: integer (nullable = true)

In [10]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://34.74.181.190:5432/airlinedb_final"
config = {"user":"airlinedb", 
          "password": "KFG5ruuAfBBJGqhz", 
          "driver":"org.postgresql.Driver"}

In [13]:
#Write Machine Learning Dataframe to table in RDS
final_ml_df.write.jdbc(url=jdbc_url, table='project.machine_learning_flight_data', mode=mode, properties=config)

In [12]:
!curl ipecho.net/plain

35.232.115.217